<div class="snake-oil" data-spy="scroll" data-target=".navbar" data-offset="60">

  <title>Snake Oil</title>
  <p>product works!</p>
  <section class="colored-section" id="title">

    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">SnakeOil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#Services">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>



      <!-- Title -->

      <div class="section1">
        <div class="row">
          <div class="intro col-lg-6">
            <h1 class="big-heading">Traditional Chinese medicament from the Chinese water snake.</h1>
          </div>
          <div class="col-lg-6">
            <img class="snake-oil-pic" src="https://raw.githubusercontent.com/bitoverflow-in/snake-oil-product-page/master/images/snake-oil.png" alt="snake-oil">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="white-section container-fluid" id="Services">

    <div class="container-fluid">
      <h1 align="center"><b>Product features</b></h1>
      <br>
      <br>
      <div class="row">

        <!--  =================== first ===================== -->

        <div class="col-md-4">

          <h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Lorem ipsum</h4>

          <hr>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque magni doloribus inventore facilis, voluptas omnis aut illum quod est commodi.</p>

        </div>


        <!-- ================================ second ============================= -->

        <div class="col-md-4">


          <h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Lorem ipsum</h4>

          <hr>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi iste tenetur, ipsa quam nobis commodi! Itaque, repellendus repudiandae. Suscipit, itaque?</p>

        </div>


        <!-- ================================ third ============================= -->

        <div class="col-md-4">

          <h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Lorem ipsum</h4>

          <hr>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore fuga illo expedita minima ut esse debitis architecto non, quidem assumenda.</p>

        </div>
      </div>
    </div>
  </section>





  <!--  review -->

  <div class="container-fluid colored-section review">
    <h1 align="center"><b>Review</b></h1>
    <div class="row">
      <div class="col-md-4">
        <h2 align="center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></h2><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, voluptatem.</p>
      </div>
      <div class="col-md-4">
        <h2 align="center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></h2><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, voluptatem.</p>
      </div>
      <div class="col-md-4">
        <h2 align="center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></h2><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, voluptatem.</p>
      </div>
    </div>
  </div>



  <!-- video -->


  <div class="white-section vdo">
    <div class="container-fluid row">
      <div class="col-md-5">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LaDsOJATX3A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-5">
        <p>History <br> of <br>Snake <br> Oil</p>
      </div>
    </div>
  </div>

  <!-- products  -->

  <section class="colored-section" id="Products">
    <div class="container-fluid pro">
      <h1><b>Top Products</b></h1>
      <div class="colored-section row">
        <div class="col-md-4" align="center">
          <h2 align="center"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><br>lorem</h2><br>

          <ul>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>

          <button type="button" class="btn btn-warning">Buy Now</button>
        </div>
        <div class="col-md-4" align="center">
          <h2 align="center"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><br>ipsum</h2><br>
          <ul>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>
          <button type="button" class="btn btn-warning">Buy Now</button>
        </div>
        <div class="col-md-4" align="center">
          <h2 align="center"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><br>dolor</h2><br>
          <ul>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>
          <button type="button" class="btn btn-warning">Buy Now</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4" align="center">
          <h2 align="center"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><br>lorem</h2><br>

          <ul>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>

          <button type="button" class="btn btn-warning">Buy Now</button>
        </div>
        <div class="col-md-4" align="center">
          <h2 align="center"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><br>ipsum</h2><br>
          <ul>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>
          <button type="button" class="btn btn-warning">Buy Now</button>
        </div>
        <div class="col-md-4" align="center">
          <h2 align="center"><span class="glyphicon glyphicon-lamp" aria-hidden="true"></span><br>dolor</h2><br>
          <ul>
            <li>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </li>
            <li>
              <p>Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>
          <button type="button" class="btn btn-warning">Buy Now</button>
        </div>
      </div>
    </div>
  </section>


  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <h6>Privacy</h6>
      <h6>Terms</h6>
      <h6>Contact Us</h6>
    </div>
  </footer>
</div>